header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid #f1f1f1;
  border-radius: calc(infinity * 1px);
  padding: 1rem 2rem;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.02);
  margin-top: 1rem;
}

header ul {
  display: flex;
  gap: 20px;
}

header input#burger {
  display: none;
}

header a {
  color: black;
}

@media (max-width: 1000px) {
  header span {
    display: block;
    background-color: var(--color-accent);
    height: 5px;
    width: 35px;
    border-radius: var(--border-radius);
    position: relative;
  }
  header span:nth-child(1) {
    top: -5px;
  }
  header span:nth-child(2) {
    top: 0;
  }
  header span:nth-child(3) {
    top: 5px;
  }
  header nav {
    display: none;
  }
  #burger:checked ~ nav {
    display: block;
    position: absolute;
    margin-top: 20px;
    right: 20px;
    background-color: white;
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    min-width: 200px;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

#search-section {
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255) 0%,
    rgb(238, 238, 238) 100%
  );
  padding: 2rem 0;
}
#search-section form {
  display: flex;
  gap: 20px;
  max-width: 800px;
  margin: auto;
}
#search-section form input {
  padding: 1rem 2rem;
}

#advantages-section .container {
  display: flex;
  flex-direction: 2rem;
  gap: 5rem;
}
#advantages-section h1 {
  max-width: 300px;
}
#advantages-section ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
}
#advantages-section li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--color-accent);
  display: inline-block;
  margin-right: 1rem;
  border-radius: 50%;
}
.landmark-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  border-radius: var(--border-radius);
  padding: 2rem;
}
.landmark-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.popular-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.slider {
  max-width: var(--slider-width);
  overflow: hidden;
  margin: 0 auto;
}

.slides {
  width: 400%;
  display: flex;
  gap: 10px;
  transition: 0.8s;
}
.slide {
  width: 100%;
  position: relative;
  max-width: var(--slider-width);
}
.slide img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.slide .text {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: var(--border-radius);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}
.nav label {
  background-color: gray;
  border-radius: calc(infinity * 1px);
  transition: width 0.1s ease-in;
  display: block;
  width: 15px;
  height: 15px;
}
.slider input {
  display: none;
}

#s1:checked ~ .slides {
  transform: translateX(0);
}
#s2:checked ~ .slides {
  transform: translateX(calc(var(--slider-width) * -1));
}
#s3:checked ~ .slides {
  transform: translateX(calc((2 * var(--slider-width) * -1) - 10px));
}

#s1:checked ~ .nav label[for="s1"],
#s2:checked ~ .nav label[for="s2"],
#s3:checked ~ .nav label[for="s3"] {
  background: var(--color-accent);
  width: 40px;
}

@media print {
    header {
        display: none;
    }
    img, .star {
        filter: grayscale(1) !important;
    }
    body {
        color: gray;
    }
    
}