header {
  padding: 1rem 0;
}
header li {
  list-style: none;
}
header input {
  display: none;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  header nav {
    display: none;
  }
  .burger-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--color-accent-gray);
    border-radius: var(--border-radius-15);
    position: relative;
  }
  .burger-icon span:nth-child(1) {
    top: -5px;
  }
  .burger-icon span:nth-child(2) {
    top: 0;
  }
  .burger-icon span:nth-child(3) {
    top: 5px;
  }
  #burger:checked ~ nav {
    display: block;
    position: absolute;
    top: 80px;
    right: 20px;
  }
  #burger:checked ~ nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: var(--border-radius-15);
    box-shadow: var(--box-shadow);
  }
}

/* ===============================
Поиск
=============================== */
.search-container {
  background-color: var(--color-accent);
  padding: 3rem;
  border-radius: var(--border-radius-15);
}
.search-form {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 1rem;
}
.search-form input,
.search-form .btn-accent {
  padding: 1.5rem;
  width: 100%;
}
@media (max-width: 1000px) {
  .search-form {
    grid-template-columns: 1fr;
  }
}
.advantages-items h2 {
  font-size: 50px;
}
.advantages-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.advantages-item {
  border: var(--border);
  border-radius: var(--border-radius-15);
  padding: 2rem;
}
@media (max-width: 1000px) {
  .advantages-items {
    grid-template-columns: repeat(1, 1fr);
  }
}

.popular-items {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.popular-item {
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: var(--border-radius-15);

  display: flex;
  flex-direction: column;
  gap: 15px;
}
.popular-item img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-15);
}

.slider {
  max-width: var(--width-slider);
  overflow: hidden;
  margin: auto;
}
.slides {
  display: flex;
  gap: 10px;
  width: 300%;
  position: relative;
  transition: 0.3s;
}

.slides img {
  border-radius: var(--border-radius-15);
  height: 400px;
  width: var(--width-slider);
  object-fit: cover;
}
.sld-text {
  position: absolute;
  bottom: 0;
  width: max(30vw, 200px);
  margin: 1rem;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-15);
  padding: 1rem;
  color: var(--color-white);
}
.sld-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.sld-nav label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: var(--border-radius-full);
  background-color: var(--color-accent);
}
#slider-section input {
  display: none;
}
#s1:checked ~ .sld-nav label[for="s1"],
#s2:checked ~ .sld-nav label[for="s2"],
#s3:checked ~ .sld-nav label[for="s3"] {
  background-color: var(--color-accent-gray);
}

#s1:checked ~ .slides {
  transform: translateX(0);
}
#s2:checked ~ .slides {
  transform: translateX(calc(var(--width-slider) * -1));
}
#s3:checked ~ .slides {
  transform: translateX(calc((2 * var(--width-slider) * -1) - 20px));
}

#partners-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

footer .container {
  background-color: var(--color-accent-gray);
  padding: 2rem;
  color: var(--color-white);
  border-radius: var(--border-radius-15);
  margin: 1rem auto;
}
footer .container a {
  color: var(--color-white);
}
.footer-menu {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
footer .contacts {
  background-color: var(--color-accent);
  padding: 2rem;
  border-radius: var(--border-radius-15);
  color: var(--color-accent-gray);
  min-width: 400px;
}
footer .contacts a {
  color: var(--color-accent-gray);
  display: block;
  padding-top: 0.5rem;
}
.footer-menu ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
