:root {
  --color-accent: #c31011;
  --width-slider: min(90vw, 800px);
  --border-radius: 15px;
  --slider-width: min(90vw, 800px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border-radius: var(--border-radius);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  padding: 0.7em 1.4em;
  border-radius: calc(infinity * 1px);
  border: none;
}
button:hover {
  background-color: rgb(230, 230, 230);
}

.btn-main,
.btn-main:hover {
  background-color: var(--color-accent);
  color: white;
}
a:hover {
  color: var(--color-accent);
}
input {
  padding: 0.7em 1.4em;
  border-radius: calc(infinity * 1px);
  border: none;
  outline: none;
  border: 1px solid rgb(211, 211, 211);
  width: 100%;
}

section {
  margin-bottom: 5rem;
}

.star {
  color: gold;
  font-size: 30px;
}

.secondary {
  color: gray;
  font-size: 14px;
}
